@import "tailwindcss" source(none) important;
@import "../tailwind.css" source(none);
@source ".";

.completion:after {
	content: "";
	display: block;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1em;
	background: linear-gradient(
		to bottom,
		rgba(240, 240, 240, 0),
		rgb(240, 240, 240)
	);
	pointer-events: none;
}

.completion h1 {
	font-size: 1em;
	font-weight: 600;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	line-height: 1em;
}

.completion h1:first-child {
	margin-top: 0;
}

.completion h2 {
	font-size: 1em;
	font-weight: 600;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	line-height: 1em;
}

.completion h3 {
	font-size: 1em;
	font-weight: 600;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	line-height: 1em;
	text-transform: none;
}

.completion p:last-child {
	margin-bottom: 0;
}
/* no-prefix */
#extendify-draft\:draft,
.extendify-draft.h-full {
	/* minus the bottom status bar */
	height: calc(100% - 25px) !important;
}

@keyframes extendifyDraftPulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@keyframes extendifyDraftCallout {
	0%,
	100% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0.7;
		transform: scale(1.01);
	}
}

.animate-pulse {
	animation: extendifyDraftPulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-pulse-flash {
	animation: extendifyDraftCallout 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
